@import "grid";
@import "bootstrap/bootstrap";
@import "bootstrap/responsive";
@import "fontawesome/font-awesome.scss";

/* Custom font */
//Arsenal
@font-face {
    font-family: 'arsenal';
    src: url('../font/arsenal/arsenal-bold-webfont.eot');
    src: url('../font/arsenal/arsenal-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/arsenal/arsenal-bold-webfont.woff') format('woff'),
         url('../font/arsenal/arsenal-bold-webfont.ttf') format('truetype'),
         url('../font/arsenal/arsenal-bold-webfont.svg#arsenalbold') format('svg');
    font-weight: bold;
    font-style: normal;
}
//CartoGothic-Std
@font-face {
    font-family: 'cartogothic_stdbold';
    src: url('../font/CartoGothic-Std/cartogothicstd-bold-webfont.eot');
    src: url('../font/CartoGothic-Std/cartogothicstd-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/CartoGothic-Std/cartogothicstd-bold-webfont.woff') format('woff'),
         url('../font/CartoGothic-Std/cartogothicstd-bold-webfont.ttf') format('truetype'),
         url('../font/CartoGothic-Std/cartogothicstd-bold-webfont.svg#cartogothic_stdbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'cartogothic_stdbold_italic';
    src: url('../font/CartoGothic-Std/cartogothicstd-bolditalic-webfont.eot');
    src: url('../font/CartoGothic-Std/cartogothicstd-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/CartoGothic-Std/cartogothicstd-bolditalic-webfont.woff') format('woff'),
         url('../font/CartoGothic-Std/cartogothicstd-bolditalic-webfont.ttf') format('truetype'),
         url('../font/CartoGothic-Std/cartogothicstd-bolditalic-webfont.svg#cartogothic_stdbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'cartogothic_stdregular';
    src: url('../font/CartoGothic-Std/cartogothicstd-book-webfont.eot');
    src: url('../font/CartoGothic-Std/cartogothicstd-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/CartoGothic-Std/cartogothicstd-book-webfont.woff') format('woff'),
         url('../font/CartoGothic-Std/cartogothicstd-book-webfont.ttf') format('truetype'),
         url('../font/CartoGothic-Std/cartogothicstd-book-webfont.svg#cartogothic_stdregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Custom responsive semantic grid */
//////////
// GRID //
//////////

// Specify the number of columns and set column and gutter widths
$columns: 12;
$column-width: 60;
$gutter-width: 0;

// Remove the definition below for a pixel-based layout
$total-width: 100%;

//Responsive grid
.g-span12{@include column(12);}
@media (min-width: 980px) {
  .g-span11{@include column(11);}
  .g-span10{@include column(10);}
  .g-span9{@include column(9);}
  .g-span8{@include column(8);}
  .g-span7{@include column(7);}
  .g-span6{@include column(6);}
  .g-span5{@include column(5);}
  .g-span4{@include column(4);}
  .g-span3{@include column(3);}
  .g-span2{@include column(2);}
  .g-span1{@include column(1);}
  .g-offset6{@include push(6);}  
}
@media (min-width: 768px) and (max-width: 979px) { 
  .g-span11{@include column(11);}
  .g-span10{@include column(10);}
  .g-span9{@include column(9);}
  .g-span8{@include column(8);}
  .g-span7{@include column(7);}
  .g-span6{@include column(6);}
  .g-span5{@include column(5);}
  .g-span4{@include column(4);}
  .g-span3{@include column(6);}
  .g-span2{@include column(2);}
  .g-span1{@include column(1);} 
  .g-offset6{@include push(6);} 
}
// Landscape phone to portrait tablet
@media (max-width: 767px) { 
  .g-span11{@include column(12);}
  .g-span10{@include column(12);}
  .g-span9{@include column(12);}
  .g-span8{@include column(12);}
  .g-span7{@include column(12);}
  .g-span6{@include column(12);}
  .g-span4{@include column(12);}
  .g-span3{@include column(12);}
  .g-span2{@include column(12);}
  .g-span1{@include column(12);} 
}
/* END Custom responsive semantic grid */


/* Bootstrap fixes */
//Bootstrap fixed navbar fix
//body { 
//	@media (min-width: 979px) {
//		padding-top: 60px; padding-bottom: 40px;
//	}
//}
html {
  width: auto !important;
  overflow-x: hidden !important;
}
body {
  width: auto !important;
  overflow-x: hidden !important;
}
/* End Bootstrap fixes */

body {
  padding-top: 0;
  padding-bottom: 60px;
}
/* Bootstrap overrides */
.btn{
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  filter: none;
  border-width: 2px;
}
::-webkit-input-placeholder{color: $grayLight !important;}:-moz-placeholder{color: $grayLight !important;}::-moz-placeholder{color: $grayLight !important;}:-ms-input-placeholder{color: $grayLight !important;}::-webkit-input-placeholder:focus{color: $grayLight !important;}:-moz-placeholder:focus{color: $grayLight !important;}::-moz-placeholder:focus{color: $grayLight !important;}:-ms-input-placeholder:focus{color: $grayLight !important;}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {   
  -webkit-box-shadow: none; 
  -moz-box-shadow: none; 
  box-shadow: none;  
  outline: 0 none;
}
/* END Bootstrap overrides */

/* Other stuff */
.g-container{
  @extend .container;
  margin: 0 auto;
  max-width: 1000px;
}

.g-input{
  border-width: 2px !important; 
  webkit-box-shadow: none; 
  box-shadow: none; 
  moz-box-shadow: none;
}
/* END Other stuff */

.b-body--index{
  background-color: $clouds;
}

/* Header */
.b-header{
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $clouds;
}
.b-header__logo{
  @extend .pull-left;
  font-size: 25px;
  font-weight: normal;
  line-height: 30px;
  margin-top: 0;
  margin-left: 20px;
  color: $plump;
}
.b-login-form{
  @extend .form-horizontal; 
  @extend .pull-right;
  margin-right: 20px;
}
.b-login-form__email, .b-login-form__password{
  @extend .input-medium;
  @extend .g-input;
}
.b-login-form__email:focus, .b-login-form__password:focus{
  border-color: $plump !important;
}
.b-login-form__button{
  @extend .btn;
  color: white;
  background-color: $plump;
  border-color: $plump;
}
.b-login-form__button:hover, .b-login-form__button:active, .b-login-form__button:focus{
  color: white;
  background-color: $plump;
  border-color: $plump;
}
.b-login-form__rmbr-label{
  @extend .checkbox;
  @extend .pull-left;
  display: inline-block;
} 
.b-login-form__forgot-password{
  @extend .pull-left;
  display: inline-block; 
  margin-left: 55px;
}
/* END Header */

/* Signup main */
.b-signup{
  background: url('../images/patterns/shattered.png') repeat;
  color: $white;
  margin: auto;
  border-top: 2px solid $silver;
  border-bottom: 2px solid $silver;
}
.b-signup__overlay{
  background-color: rgba(91,59,112, 0.7);
  padding-top: 20px;
  padding-bottom: 20px;
}
.b-signup__main{
  @extend .jumbotron;
  margin: 80px 20px;
  text-align: center;
}
.b-signup__logo{
  font-size: 100px;
  line-height: 1;
  color: $white;
}
.b-signup__lead{
  @extend .lead;
  font-size: 24px;
  line-height: 1.25;
}
.b-signup__button{
  @extend .btn;
  @extend .btn-large;
  font-size: 21px;
  padding: 14px 24px;
  margin-top: 20px;
  background-color: $gold;
  border-color: $gold;
  text-shadow: none;
}
.b-signup__button:hover, .b-signup__button:active, .b-signup__button:focus{
  background-color: $gold;
  border-color: $gold;
}
/* END Signup main */

.b-main{
  background-color: $clouds;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
  height: auto;
  overflow: hidden;
}

/* Features index */
.b-features{
  max-width: 1000px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
.b-features-col{
  @extend .g-span4;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 16px;
}
.b-features-col__title, .b-features-col__text{
  text-align: center;
}
.b-features-col__text{
  padding-left: 10px;
  padding-right: 10px;
}
/* END Features index */

/* Calendar block */
.b-calendar{@extend .g-span10;}
.b-calendar__week-row{@include row(10);}
.b-calendar__cell{@extend .g-span2;}
/* END Calendar block */

/* Dashboard block */
.b-dashboard{@extend .g-span2;}
/* END Dashboard block */

/*------------ Sign up page ------------- */
.b-body--signup, .b-body--add-classes{
  background-color: #e6e6e6;
  //background-color: #BDAEC6;
}
.b-signup-page-logo{
  text-align: center; 
  margin-top: 20px; 
  margin-bottom: 20px;
  color: $plump;
}
.b-signup-form{
  @include column(6);
  @include push(3);
  @include pull(3);
  border: 2px solid #E2E3D9;
  overflow:hidden;
  background-color: white;
}
.b-footer__container--signup-form{
  @include column(6);
  @include push(3);
  @include pull(3);
  margin-top: 20px;
}  
.b-signup-form__create-account, .b-signup-form__social{
  @include column(6);
}
.b-signup-form__title, .b-signup-form__input-group, .b-signup-form__button{
  margin-top: 10px; 
  margin-left: 20px;
}
.b-signup-form__title{
  font-size: 20px;
  font-weight: normal;
}
.b-signup-form__name, .b-signup-form__email, .b-signup-form__password, .b-signup-form__password-confirm{
  @extend .g-input;
}
.b-signup-form__button{
  @extend .btn;
  font-size: 14px;
  background-color: $gold;
  border-color: $gold;
  display: block;
  text-shadow: none;
}
.b-signup-form__button:hover, .b-signup-form__button:active, .b-signup-form__button:focus{
  background-color: $gold;
  border-color: $gold;
}
.b-signup-form__name:focus, .b-signup-form__email:focus, .b-signup-form__password:focus, .b-signup-form__password-confirm:focus{
  border-color: $plump !important;
}
/*---------- END Sign up page -----------*/

/*---------- Add classes page -----------*/
.b-addclasses-form__progress{
  margin-top: 30px;
  padding-bottom: 20px;
  overflow: hidden;
  border: 2px solid #e6e6e6;
  /*CSS counters to number the steps*/
  @include column(8);
  @include push(2);
  @include pull(2);
}
.b-addclasses-form__progress-item{
  list-style-type: none;
  font-size: 16px;
  width: 33.33%;
  text-align: center;
  float: left;
  background: white;
  padding-top: 20px;
  padding-bottom: 20px;
}
.b-addclasses-form__progress-item--active{
  background-color: $plump;
  color: white;
  @include transition(all .3s ease);
}
.b-addclasses-form__fieldset{
  @include column(8);
  @include push(2);
  @include pull(2);
  border: 2px solid #E2E3D9;
  overflow:hidden;
  background-color: white;
}
.b-footer__container--addclasses-form{
  @include column(8);
  @include push(2);
  @include pull(2);
  margin-top: 20px;
}
.b-addclasses-form__school-dash{
  @include column(4);
}
.b-addclasses-form__school-list{
  @include column(8);

}
.b-addclasses-form__title{
  font-size: 20px;
  text-align: center;
  font-weight: normal;
}
.b-addclasses-form__med-title{
  font-size: 16px;
  font-weight: normal;
}
.b-addclasses-form__title, .b-addclasses-form__input-group, .b-addclasses-form__button{
  margin-top: 10px; 
  margin-left: 20px;
}
.b-addclasses-form__label{
  margin-bottom: 10px;
}
.b-addclasses-form__school, .b-addclasses-form__major, .b-addclasses-form__classes{
  @extend .g-input;
}
.b-addclasses-form__school:focus, .b-addclasses-form__major:focus, .b-addclasses-form__classes:focus{
  border-color: $plump !important;
} 
.b-school-list{
  list-style-type: none;
  margin-left: 20px;
  margin-right: 20px;
  height: 300px;
  overflow: auto;
}
.b-school-list__item-img, .b-school-list__item-title, .b-school-list__item-btn{
  display: inline;
} 
.b-school-list__item{
  margin-bottom: 5px;
  padding: 0;
  margin-top: 0;
}
.b-school-list__item-img{
  margin-bottom: 5px; 
}
.b-school-list__item-title{
  font-size: 14px;
  font-weight: normal;
  margin-left: 5px;
}
.b-school-list__item-btn{
  @extend .btn;
  background-color: white;
  border-color: $grayCustom;
  color: $plump;
  display: block;
  text-shadow: none;
  font-size: 14px;
  float: right;
  margin-top: 9px;
  margin-right: 20px;
  @include transition(all .3s ease);
}
.b-school-list__item-btn:hover, .b-school-list__item-btn:focus{
  background-color: $plump;
  border-color: $plump;
  color: white;
}
.b-addclasses-form__btn, .b-addclasses-form__btn:hover, .b-addclasses-form__btn:active{
  @extend .btn;
  @include transition(all .3s ease);
  display: block;
  float: none;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  border-color: $plump;
  color: $plump;
}
.b-addclasses-form__btn--active{
  background-color: $plump !important;
  border-color: $plump !important;
  color: white !important;
}
.b-urschool-item__name{
  display: inline-block;
  width: 197px;
  font-size: 14px;
}
.b-urschool-item__rmv-img{
  height: 25px;
}
/*-------- END Add classes page ---------*/

/* Footer */
	footer{@extend .g-span12;}
/* END Footer */


/* Responsiveness */
@media (min-width: 768px) and (max-width: 1033px) { 
  .b-signup-form, .b-footer__container--signup-form{
    @include column(8);
    @include push(2);
    @include pull(2);
  }
  .b-footer__container--signup-form{
    margin-top: 20px;
  }  
}
@media (min-width: 585px) and (max-width: 767px) { 
  .b-signup-form, .b-footer__container--signup-form {
    @include column(10);
    @include push(1);
    @include pull(1);
  }
  .b-footer__container--signup-form{
    margin-top: 20px;
  }   
}
@media (max-width: 584px){
  .b-body--signup{
    padding-left: 20px;
    padding-right: 20px;
  }
  .b-signup-form, .b-signup-form__create-account, .b-signup-form__social, .b-footer__container--signup-form{
    @include column(12);
  }
  .b-signup-form__create-account, .b-signup-form__social, .b-footer__container--signup-form{
    text-align: center;
  }
  .b-signup-form__input-group, .b-signup-form__title{
    margin-left: 0;
  }
  .b-signup-form__button{
    margin: auto;
    margin-top: 20px;
  }
  .b-footer__container--signup-form{
    margin-top: 20px;
  } 
}  

/* footer */
.b-footer{
  margin-left: 20px;
  margin-right: 20px;
}
.b-footer__container{
  max-width: 1000px;
}
.b-footer__container--auto{
  margin: auto;
}

/* SVG icons */
.b-calendar-icon{
  color: $plump;
}
